<!-- 
This launch file starts soundplay_node.py, which is the node that plays
sounds based on messages on the robotsound topic.  
-->

<launch>
  <arg name="device" default="" />
  <arg name="loop_rate" default="100" />
  <arg name="default_voice" default="" />
  <arg name="plugin" default="sound_play/festival_plugin" />

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"
        output="screen">
    <param name="device" value="$(arg device)" />
    <param name="loop_rate" value="$(arg loop_rate)" />
    <param name="default_voice" value="$(arg default_voice)" />
    <param name="plugin" value="$(arg plugin)" />
  </node>

  <group ns="sound_play" >
    <node name="is_speaking"
          pkg="sound_play" type="is_speaking.py" >
      <remap from="~robotsound" to="status" />
      <remap from="~output/is_speaking" to="is_speaking" />
    </node>
  </group>
</launch>
