<launch>
  <arg name="dst" default="/tmp/output.mp3"/>
  <arg name="device" default=""/>
  <arg name="format" default="wave"/>
  <arg name="bitrate" default="128"/>
  <arg name="channels" default="1"/>
  <arg name="depth" default="16"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="sample_format" default="S16LE"/>
  <arg name="ns" default="audio"/>
  <arg name="audio_topic" default="audio"/>

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="dst" value="$(arg dst)"/>
    <arg name="device" value="$(arg device)"/>
    <arg name="format" value="$(arg format)"/>
    <arg name="bitrate" value="$(arg bitrate)"/>
    <arg name="channels" value="$(arg channels)"/>
    <arg name="depth" value="$(arg depth)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="sample_format" value="$(arg sample_format)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="audio_topic" value="$(arg audio_topic)"/>
  </include>

</launch>
